
body {
  background-color: #d9dcd6;
  /* Set body background color */
}


.header {
  background: linear-gradient(to right, #1976e8, #031b50);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
}


.hide {
  display: none;
}

a:link {
  color: black;
}